
.ejpJLV {
    display: none !important;
}
input[type="file"] {
  padding: 2px;
  border-radius: 6px;
  border: 1px solid #d8d6de;
  background-color: #fff;
}
input[type="file"]::-webkit-file-upload-button {
  background: #7367f0b3;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.button-alignment-accouncement{
  float: right;
}
input[type="file"]::-webkit-file-upload-button:hover {
  background: #7367f0b3;
}