.modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.select__menu-portal {
  z-index: 99999;
}

/* modal body scroll safe */
.modal-body {
  overflow-y: auto;
  position: relative;
}
.css-1rhbuit-multiValue {
  background-color: #7367f0;
}
.css-1hwfws3 {gap: 3px;
}
.gap-form{
  gap: 14px;
  flex-wrap: wrap;
  display: flex;
}
.count-down-section{
display: flex;
align-items: center;
gap: 5px;
}
@media (max-width: 767px) {
    [dir] .header-navbar .navbar-nav {
        margin: 0;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
  [dir] .landing-footer {
    margin-bottom: 97px;
  }
}
.fc-daygrid-event-harness{
    width: auto;
    right: 0px !important;
}
.day-event {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.event-dot {
  width: 10px;
  height: 10px;
  background: #7367f0;
  border-radius: 50%;
  margin-top: 6px;
  display: none;
}

.event-body {
  /* flex: 1; */
      display: flex;
}

.event-title {
  font-weight: 600;
  margin-bottom: 6px;
}

.event-instructor {
  display: flex;
  gap: 8px;
  align-items: center;

}
.event-instructor img{
    width: 32px;
    height: 32px;
    border-radius: 50% !important;
    border-color: #6b6be6;
    border-style: solid;
}
.event-instructor small{
    display: block;
    color: #999;
}
.event-location,
.event-level {
  font-size: 0.8rem;
  color: #666;
}

.event-actions {
  display: contents;
  flex-direction: column;
  gap: 6px;

}
.event-actions .btn-details {
    background: transparent;
    border: none;
    color: #fff;
    background: #131128;
    border-radius: 6px;
    padding: 4px 8px;
}

.event-actions .btn-book{
    background: #7367f0;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 4px 8px;
}